.container .icon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 1);
    margin: 10px auto;
    max-width: 300px;

}



.icon-card img {
    max-width: 100%;
    height: auto;
}

.container-login {
    margin: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-faixa {
    width: fit-content;
    align-items: center;
    margin: 0px auto;
    background: #5c4eff;
    padding: 17px 35px;
    text-align: center;
    color: aliceblue;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    line-height: 0;
    margin-top: 10px;
    height: 35px;
    justify-content: center;
    display: block;
}

.container-faixa .faixa {

    max-width: 300px;

}

.register-container {
    width: 300px;
    /* mesma largura */
    height: 300px;
    /* mesma altura → quadrado */
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*overflow: auto;*/
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: block;
}




.register-container .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.register-container .register-form input {
    padding: 12px 15px;
    border: 1.5px solid #000000;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s;
    
}

.register-container .register-form input:focus {
    border-color: #5b1fff;
    
}

.register-container .register-form button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #2d2de4;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.register-container .btn-facebook {
    background-color: #1900ff;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    max-width: 300px;
    
}


.register-container .btn-google {
    background-color: #000a91;
    color: white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    max-width: 300px;

}






